/* ////////////////mobile/////////////////////// */

#mobile {
  width: 100vw;
  height: 100vh;
  /* background: url(../image/back5.png); */
  background-color: #E9E1D6;
  padding: 0px !important;
  overflow-y: scroll;
}
#mobile::-webkit-scrollbar {
  display: none;
}

.mobile1-1{
  padding: 20px 70px;
  width: 100%;
  height: 100vh;
  color: #403232;
}
.mo1-1-address{
  margin-bottom: 40px !important;
  color: #403232 !important;
}
.mo1-1-title{
  width: 74%;
}
.mo1-1-title>p:nth-child(1){
  font-size: 40px !important;
}
.mo-content{
  /* border: 1px solid #000 !important; */
  width: 96% !important;
  /* margin-top: px !important; */
  color: #403232 !important;
}
.main-mo-content-mockup{
  position: relative;
  width: 70%;
  height: 650px;
  border-radius: 10px;
  overflow: hidden;
  border: 5px solid #fff;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
.main-mo-content-mockup>img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-mo-content-mockup-monitor>a{
  position: absolute;
  right: 28.5%;
  bottom: 5%;
  transform: rotate(17.1deg);
  transform-origin: right bottom;
  width: 233px;
  height: 486px;
  border-radius: 25px;
  z-index: 100;
  transition: 0.3s;
}
.main-mo-content-mockup-monitor>a:hover{
  background-color: rgba(0,0,0,0.7);
}
.main-mo-content-mockup-monitor > a:before{
  content: '시안 확인하기';
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 12px;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 11;
  width: 150px;
  height: 30px;
  border: 1px solid #fff;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
  transition: 0.5s;
}
.main-mo-content-mockup-monitor > a:hover:before{
  opacity: 1;
}

.mo1-1-more-btn{
  position: absolute;
  left: 15%;
  bottom: 0%;
  width: 230px;
}
.mo1-1-more-btn ul li {
  display: block;
  width: 100%;
  height: 45px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 18px;
  display: flex;
  padding-left: 50px;
  align-items: center;
  color: #817474;
  transition: 0.3s;
}
.mo1-1-more-btn ul li:nth-child(1) {
  background-color: #fff;
}
.mo1-1-more-btn ul li:nth-child(2) {
  background-color: #ffef5a;
  cursor: pointer;
}
.mo1-1-more-btn ul li:nth-child(1):hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 10px rgba(48, 48, 48, 0.1);
}
.mo1-1-more-btn ul li:nth-child(2):hover {
  transform: translateY(5px);
  box-shadow: 0 -2px 10px rgba(48, 48, 48, 0.1);
}
.mo1-1-more-btn ul li:nth-child(1) > a:after {
  content: '\f101';
  font-family: fontawesome;
  margin-left: 23px;
}
.mo1-1-more-btn ul li:nth-child(2):after {
  content: '\f103';
  font-family: fontawesome;
  margin-left: 10px;
}
/* 2구역 */
.mobile2-1{
  width: calc(100vw - 35px);
  /* width: 100vw; */
  height: 10160px;
}
.mobile2-1>img{
  width: 100%;
  /* height: 100%; */
  /* object-fit: cover; */
}
/* footer */
.mo1-foot{
  background-color: #36363a;
  color: #b3b3b3;
}





/* ////////////////planning/////////////////////// */

#planning {
  width: 100vw;
  height: 100vh;
  /* background: url(../image/back6.png); */
  background-color: #f3f2f2;
  padding: 0px !important;
  /* background-color: #bdb4d5; */
  overflow-y: scroll;
}
#planning::-webkit-scrollbar {
  display: none;
}
.planning-in{
  position: relative;
  width: 1200px;
  height: 750px;
  /* height: 100%; */
  /* height: 100vh; */
  margin: auto;
  /* display: flex;
  align-items: center; */
}
.planning-in>h3{
  font-size: 43px;
  /* font-weight: bolder; */
  text-align: center;
  text-transform: capitalize;
  letter-spacing: -2px;
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: black;
  color: transparent;
}
.plan-title-cap{
  margin-top: 10px;
  text-align: center;
  color: rgb(47, 47, 47);
}
.planarea{

  /* display: none; */
  width: 100vw;
  height: 100vh;
  padding: 20px 70px;
}

.planning{
  position: absolute;
  width: 380px;
  height: 550px;
  background-color: #fff;
  border-radius: 20px;
  transition: 0.8s;
  border: 5px solid #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  filter: grayscale(100%);
}
.plan-sony-result{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.planning>a,
.plan-sony-result{
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  color: #fff;
  text-shadow: 0 0 5px rgba(0,0,0,0.9),0 0 10px rgba(0,0,0,0.9);
  font-family: 'Noto Sans KR', sans-serif;
  transition: 0.5s;
}
.planning>a.active,
.plan-sony-result.active{
  opacity: 1;
}
.planning.active{
  top: 55% !important;
  box-shadow: 0 40px 40px rgba(0,0,0,0.4);
  filter: grayscale(0%);
}
.planning:nth-of-type(1){
  left: 0;
  top: 58%;
  transform: translateY(-50%);
  background: url(../image/doosan_thumb.jpg) no-repeat center center;
  background-size: cover;
}
.planning:nth-of-type(2){
  left: 50%;
  top: 58%;
  transform: translate(-50%,-50%);
  background: url(../image/sony_thumb.jpg) no-repeat center center;
  background-size: cover;
}
.planning:nth-of-type(3){
  right: 0;
  top: 58%;
  transform: translateY(-50%);
  background: url(../image/paradice_thumb.jpg) no-repeat center center;
  background-size: cover;
}
.planning>p{
  opacity: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0 0 10px rgb(0,0,0);
  transition: 0.3s;
}

.planning.active>p{
  opacity: 1;
}
.planning>p>span{
  font-size: 12px;
}
.planning>p:before{
  content:'';
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, black);
  z-index: -1;
  border-radius: 0 0 20px 20px;
  transition: 0.5s;
}
.planning.active>p:before{
  opacity: 1;
}
.planning>ul{
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
  width: 250px;
  height: 60px;
  border-radius: 100px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}
.planning:nth-of-type(1)>ul:before{
  content: '두산아트센터';
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  line-height: 60px;
  color: rgb(57, 57, 57);
}
.planning:nth-of-type(2)>ul:before{
  content: '소니 코리아';
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  line-height: 60px;
  color: rgb(57, 57, 57);
}
.planning:nth-of-type(3)>ul:before{
  content: '파라다이스시티 호텔';
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  /* font-family: 'Noto Sans KR', sans-serif; */
  font-size: 18px;
  font-weight: bold;
  line-height: 60px;
  color: rgb(57, 57, 57);
}
.planning>ul>li{
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.planning>ul.show>li{opacity: 1;}
.planning>ul.show>li:nth-child(1){top: 0;}
.planning>ul.show>li:nth-child(2){top: 65px;}
.planning>ul.show>li:nth-child(3){top: 130px;}
.planning>ul.show>li:nth-child(4){top: 195px;}

.planning>ul>li:hover{
  background-color: rgb(214, 165, 42);
  color: #fff;
}

/* popup */

.plan-popup{
  position: relative;
  width: 100vw;
  height: 100vh;
  /* background-color: rgba(0,0,0,0.8); */
  background-color: #f3f2f2;
  /* border: 1px solid #000; */
}

.plan-list{
  position: relative;
}
.tab-highlight{  /*현재 선택된 탭메뉴->옆으로 이동하는 박스*/
  position:absolute;
  background:#000; 
  width: 300px;
  height:70px; 
  top: 50px;
  left: 0px;
}
.tab-highlight:after{   /*삼각형모양*/
  content:"";
  position:absolute;
  bottom:-13px;
  left: 52%;
  margin-left:-17px;  
  z-index:10;
  width:0;
  height:0;
  border-left:12px solid transparent;
  border-right:12px solid transparent;
  border-top:15px solid #000;
}

.plan-large-list{
  position: relative;
  width: 80%;
  margin: auto;
  display: flex;
}
.plan-large-list > li:not(:last-child) {
  width: 300px;
  height: 70px;
  margin-top: 50px;
  border-right: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  z-index: 1;
  cursor: pointer;
}
.plan-large-list > li.active {
  color: #fff;
}
.plan-btn{
  position: absolute;
  left: 10%;
  top: 550%;
  width: 300px;
  height: 80px;
}
.plan-btn>li{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.plan-btn>li>a{
  display: absolute;
  width: 100%;
  height: 100%;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #000;
  background-color: rgb(214, 165, 42);
  color: #111111;
  transition: 0.5s;
}
.plan-btn>li>a:hover,
.plan-sony-mockup:hover{
  background-color: rgb(243, 242, 242);
  color: #000;
  border: 1px solid #000;
}
.plan-btn>li:not(.active){
  display: none;
}
.plan-btn>li>a>i,
.plan-sony-mockup>i{
  position: absolute;
  right: 5%;
  font-size: 60px;
  color: rgba(243, 242, 242,0.2);
}
.plan-sony-mockup{
  display: absolute;
  width: 100%;
  height: 100%;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #000;
  background-color: rgb(214, 165, 42);
  color: #111111;
  transition: 0.5s;
  cursor: pointer;
}

/* .plan-btn>li:nth-child(1){
  background: url(../image/pub1.png) center top;
  background-size: cover;
} */
.plan-small-list{
  position: absolute;
  left: 9.5%;
  top: 180%;
  width: 500px;
  height: 500px;
}
.plan-small-list>li{
  /* display: none; */
  position: absolute;
  top: 0;
  left: 0;
}
.plan-sony-list,
.plan-hotel-list{
  display: none;
}
.plan-small-list>li>p{
  position: relative;
  width: 300px;
  height: 60px;
  border: 1px solid #000;
  margin: 10px;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
  z-index: 10;
}
.plan-small-list>li>p>b{
  position: absolute;
  top: 56%;
  left: 0;
  transform: translateY(-50%);
  font-size: 40px;
  letter-spacing: -2px;
  font-style: italic;
  color: rgba(243, 242, 242,0.4);
}
.plan-small-list>li>p.active{
  background-color: #000;
  color: #fff;
}

.plan-popup-img{
  position: relative;
  height: calc(100vh - 120px);
}
.plan-doosan-output-img{
  width: 1800px !important;
  height: 850px !important;
}
.plan-popup-img>img{
  position: absolute;
  bottom: 3%;
  right: 3%;
  height: 750px;
}
.plan-frame{
  position: absolute;
  right: 11.4%;
  bottom: 15%;
  width: 49.6%;
  height: 72.3%;
  background-color: #fff;
  /* border: 1px solid red; */
  overflow-y: scroll;
}

.plan-frame::-webkit-scrollbar{
  width: 10px;
  height: 10px;
}
.plan-frame::-webkit-scrollbar-thumb{
  height: 50%;
  background-color: rgb(224, 166, 40);
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}
.plan-frame::-webkit-scrollbar-thumb:hover{
  background-color: rgb(189, 138, 29);
}
.plan-frame::-webkit-scrollbar-track{
  background-color: rgb(214, 230, 224);
  border-radius: 10px;
}
.plan-frame-list>li>p:not(.active){
  display: none;
}
.plan-frame-list>li>p>img{
  width: 100%;
  height: 100%;
}
.plan-frame-list>li>p>iframe{
  width: 100%;
  height: 600px;
}
/* 소니코리아 목업 */
.plan-mockup{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10000;
  background: rgba(255, 255, 255,0.9);
}
.mockup-pc{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 800px;
  filter: drop-shadow(0 10px 5px rgba(0,0,0,0.5));
}
.mockup-pc-monitor{
  position: absolute;
  top: 46.9%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1012px;
  height: 650px;
  background-color: #000;
  border-radius: 5px;
  overflow: hidden;
  background: url(../image/sony-monitor-top.jpg) no-repeat center top;
}
.mockup-pc-monitor-in{
  position: absolute;
  top: 12.6%;
  left: 0;
  width: 100%;
  height: 575px;
  overflow-y: scroll;
}
.mockup-pc-monitor-in>img{
  width: 100%;
}
.mockup-pc-monitor-in::-webkit-scrollbar {
  display: none;
}